@font-face {
  font-family: 'Plain';
  src: url('../fonts/Plain-Regular.woff2') format('woff2'),
    url('../fonts/Plain-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plain';
  src: url('../fonts/Plain-Light.woff2') format('woff2'),
    url('../fonts/Plain-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Plain';
  src: url('../fonts/Plain-Bold.woff2') format('woff2'),
    url('../fonts/Plain-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color: #12d42c;
  --white-color: #ffffff;
  --dark-color: #171819;
  --about-bg-color: #f9f9f9;

  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #666262;
  --transition: all 0.5s ease-in-out;

  --base-font-family: 'Plain', sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100%;
  --border-radius-small: 2px;
}


body {
  background: var(--white-color);
  font-family: var(--base-font-family);
}


/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-thin);
  line-height: normal;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 20px 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  margin: 0;
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--gray-color);
  font-size: var(--h6-font-size);
  line-height: inherit;
  margin: 0;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  line-height: 1.5em;
}

li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  line-height: 1.5em;
}

b,
strong {
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
}

.section {
  padding: 7rem 0;
}


/* BUTTON */

.custom-btn {
  background: transparent;
  border-radius: var(--border-radius-small);
  padding: 14px 24px;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  color: var(--primary-color);
}

.custom-btn:focus {
  box-shadow: none;
}

.custom-btn.bordered:hover,
.custom-btn.bordered:focus,

.custom-btn.bg-color:hover,
.custom-btn.bg-color:focus {
  background: var(--white-color);
  border-color: transparent;
  color: var(--primary-color);
}

.bordered {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.bg-color {
  background: var(--primary-color);
  color: var(--white-color);
}



/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-color);
  outline: none;
  text-decoration: none;
}

/* BG OVERLAY */

.bg-overlay {
  background: var(--dark-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

/*---------------------------------------
     MODAL              
  -----------------------------------------*/

/* Modale Design anpassen */
.modal-content {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}

.modal-body {
  padding: 2rem;
  font-size: var(--p-font-size);
  color: var(--white-color);
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.modal-footer .btn-primary:hover {
  background-color: darken(var(--primary-color), 10%);
  border-color: darken(var(--primary-color), 10%);
}

.form-control {
  font-size: var(--base-font-size);
  border-radius: var(--border-radius-small);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-small);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
}

.close {
  font-size: var(--h5-font-size);
  color: var(--dark-color);
}

.close:hover,
.close:focus {
  color: var(--primary-color);
}


/*---------------------------------------
    FEATURE          
  -----------------------------------------*/

.feature {
  background: var(--dark-color);
  padding: 5rem 0;
}


/*---------------------------------------
     MENU             
  -----------------------------------------*/

/* Modale Design anpassen */
.modal-content {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: var(--white-color);
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.modal-footer .btn-primary:hover {
  background-color: darken(var(--primary-color), 10%);
  border-color: darken(var(--primary-color), 10%);
}


.navbar {
  width: 100%;
  background: var(--dark-color);
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: var(--dark-color);
}

.navbar-nav {
  flex-direction: row;
  /* nav-items nebeneinander statt untereinander */
  justify-content: space-between;
  /* Abstand zwischen nav-items vergrößern */
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 22px;
  /* Größe Schriftart */
}

.navbar-brand {
  background-image: url('../images/logo/vhl.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60px;
  /* Passe die Höhe nach Bedarf an */
  width: 170px;
  /* Passe die Breite nach Bedarf an */
}

.navbar.scrolled .navbar-brand {
  color: var(--primary-color);
}

.nav-item {
  margin-right: 15px;
  /* Abstand zwischen nav-items */
}

.nav-item:last-child {
  margin-right: 0;
  /* Kein Abstand nach letzten nav-item */
}

.nav-item .nav-link {
  display: block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 2px 6px;
  transition: color 0.3s ease-in-out;
}

.navbar.scrolled .navbar-nav .nav-link {
  color: var(--primary-color);
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--primary-color);
}

.navbar .social-icon li a {
  color: var(--white-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0 10px 0 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--primary-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--primary-color);
  width: 30px;
  height: 2px;
  content: '';
}



.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
     DETAILS              
  -----------------------------------------*/
.detail {
  background-color: var(--about-bg-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  /* Neu hinzugefügt */
  flex-wrap: wrap;
  /* Neu hinzugefügt */
  justify-content: space-between;

}

.detail-item {
  background-color: var(--white-color);
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  margin: 2rem 2rem;
  padding: 3, 5rem 1.5rem;
  border-radius: 4px;
  transition: var(--transition);
  flex: 0 0 calc(30% - 4rem);
  /* Neu hinzugefügt */
  max-width: calc(30% - 4rem);
  /* Neu hinzugefügt */
}

.detail-item:hover {
  box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
  -webkit-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
  -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
  transform: translate(-5px);
}

.detail-item span {
  font-size: 2.5rem;
}

.detail-item h2 {
  font-size: 1.4rem;
  opacity: 0.8;
  font-weight: 300;
}

.line {
  width: 45px;
  margin: 1.2rem auto;
  background: var(--primary-color);
  height: 2.5px;
}

/*---------------------------------------
     HERO              
  -----------------------------------------*/

.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  vertical-align: middle;
  min-height: 100vh;
  position: relative;
}


/*---------------------------------------
     CLASS               
  -----------------------------------------*/

.class-info {
  background: var(--white-color);
  box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
  border-radius: 0 0 2px 2px;
  padding: 1rem 2rem;
  position: relative;
}

.class-info img {
  border-radius: 2px 2px 0 0;
}

.class-info strong {
  color: var(--gray-color);
}

.class-price {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
}

/*---------------------------------------
     SCHEDULE             
  -----------------------------------------*/

.schedule {
  background: var(--dark-color);
}

.schedule-table {
  display: table;
  border: 0;
  text-align: center;
}

.schedule-table strong,
.schedule-table span {
  display: block;
  text-align: center;
}

.schedule-table strong {
  color: var(--white-color);
}

.schedule-table span {
  color: var(--gray-color);
}

.schedule-table span,
.schedule-table small {
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.schedule-table small {
  position: relative;
  top: 10px;
}

.table .thead-light th,
.schedule-table tr td:first-child {
  background: var(--primary-color);
  border: 1px solid #212122;
  color: var(--white-color);
}

.schedule-table .thead-light th {
  border-bottom: 0;
  text-transform: uppercase;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #212122;
}

.table-bordered td {
  padding-bottom: 22px;
}

.table td,
.table th {
  padding: 1rem;
}


/*---------------------------------------
      HOME            
  -----------------------------------------*/

#home {
  margin-bottom: 0px;
}
  
.about {
  background: var(--about-bg-color);
}

.about-working-hours {
  border-left: 2px solid;
  padding-left: 3.5rem;
}

.about-working-hours strong {
  color: var(--white-color);
  opacity: 0.85;
}

.home-thumb {
  position: relative;
}

.home-info {
  background: var(--white-color);
  border-radius: 0 0 2px 2px;
  box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
  padding: 20px;
  position: relative;
}

.home-info span {
  font-weight: var(--font-weight-light);
  opacity: 0.85;
}

.home-info .social-icon {
  position: absolute;
  top: 10px;
  right: 20px;
}

.home-info .social-icon li {
  display: block;
}

.neon-button {
  font-size: 2em;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
  border: currentColor 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--primary-color), 0 0 0.5em 0 var(--primary-color);

  position: relative;
}

.neon-button::before {
  content: "";
  position: relative;
  background: var(--primary-color);
  top: 120%;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.7;
}

.neon-button:hover,
.neon-button:focus {
  background: var(--primary-color);
  color: var(--dark-color);
}

/*---------------------------------------
     CONTACT              
  -----------------------------------------*/

.webform input,
button#submit-button {
  height: calc(2.25rem + 20px);
}

.form-control {
  border-radius: var(--border-radius-small);
  margin: 1.3rem 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--dark-color);
}

button#submit-button {
  background: var(--dark-color);
  border-color: transparent;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

button#submit-button:hover {
  background: var(--primary-color);
}

.contact h2+p {
  max-width: 90%;
}

.google-map {
  border-top: 1px solid #efebeb;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}

.google-map iframe {
  width: 100%;
}


/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

.site-footer {
  border-top: 1px solid #efebeb;
  padding: 3rem 0;
}

.site-footer a {
  color: var(--dark-color);
  font-weight: var(--font-weight-light);
}

.site-footer p {
  font-size: var(--base-font-size);
}

.contact .fa,
.site-footer .fa {
  color: var(--primary-color);
}


/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 5px 0 0 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  text-decoration: none;
  display: inline-block;
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  margin: 5px 10px;
  text-align: center;
}

.social-icon li a:hover {
  color: var(--primary-color);
}


/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (max-width: 992px) {

  .section {
    padding: 5rem 0;
  }

  .nav-item .nav-link {
    padding: 6px;
  }

  .navbar .social-icon {
    margin-top: 22px;
  }

  .navbar-collapse,
  .site-footer {
    text-align: center;
  }

  .schedule-table {
    display: block;
  }

  .modal-content {
    padding: 2rem;
  }

  .detail .row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {

  .detail .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .detail-item {
    margin: 0;
  }

  h1 {
    font-size: 38px;
  }

  .about-working-hours {
    border-left: 0;
    padding: 22px 0 0 0;
  }

  .contact h2 span {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}*/

header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-color: #f9f9f9;
  padding: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.panel-container {
  display: flex;
  max-height: 80%;
  margin-top: 90px;
}

.panel {
  padding: 80px;
  height: 800px;
}

.panel-left {
  overflow: auto;
  overflow-y: auto;
  flex: 60;
  /* Vertikale Scrollleiste anzeigen, wenn Inhalt zu lang */
  overflow-x: hidden;
  /* Horizontale Scrollleiste ausblenden */
}


.panel-right {
  flex: 47;
  background-color: #ddd;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.img-lab1, .img-lab2, .img-lab3 {
max-width: 350px;
}

.panel-right::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  width: 10px;
  background: linear-gradient(to right, transparent, #ddd);
  pointer-events: none;
}

#img.schloss {
  margin-left: 50px !important;
}

.tabs {
  margin-bottom: 10px;
}

.tab {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #333;
  color: #fff;
}

.vhlterminal {
  display: none;
  width: 400px;
  height: 320px;
  margin-bottom: 10px;
}

.vhlterminal.active {
  display: block;
}

footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.custom-button {
  align-self: center;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.custom-button.webshell {
  background-color: #4CAF50;
  color: #fff;
}

.custom-button.log4shell {
  background-color: rgba(226, 173, 26, 0.986);
  color: #fff;
}


.custom-button.log4j {
  background-color: #F44336;
  color: #fff;
}

.custom-button:hover {
  opacity: 0.8;
}

/* CSS-Code für das Overlay */
#registrierungsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

#overlayInhalt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.panel-left::-webkit-scrollbar {
  width: 10px;
  /* Breite der Scrollleiste */
  background-color: #f1f1f1;
  /* Hintergrundfarbe der Scrollleiste */
}

.panel-left::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Farbe des Scrollleisten-Thumb */
  border-radius: 5px;
  /* Runde Ecken des Thumb */
}

.panel-left::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Farbe des Thumb bei Hover */
}

.panel-left::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Hintergrundfarbe des Track */
}

.panel-left::-webkit-scrollbar-track:hover {
  background-color: #ddd;
  /* Hintergrundfarbe des Track bei Hover */
}

#log4shell-card,
#pwcracking-card,
#webshell-card {
display: flex;
flex-direction: column;
align-items: stretch;
}

#log4shell-card .class-thumb,
#pwcracking-card .class-thumb,
#webshell-card .class-thumb {
display: flex;
flex-direction: column;
height: 100%;
}

#log4shell-card .class-info,
#pwcracking-card .class-info,
#webshell-card .class-info {
flex-grow: 1;
}

#log4shell-card p,
#pwcracking-card p,
#webshell-card p {
flex-grow: 1;
}

.site-footer {
  background-color: var(--dark-color);
  padding: 30px 0;
  margin-top: auto;
}

.footer-text {
  font-size: 25px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.footer-menu {
  list-style: none;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
}

.footer-menu li {
  color: var(--primary-color);
  display: inline-block;
  margin-right: 15px;
}

.footer-menu li a {
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}

.footer-menu li a:hover {
  color: var(--primary-color);
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.footer-social li {
  display: inline-block;
  margin-left: 10px;
}

.footer-social li a {
  color: var(--white-color);
  font-size: 20px;
  text-decoration: none;
}

.footer-social li a:hover {
  color: var(--primary-color);
}
